In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

original_data = pd.read_csv('./data/Pokemon.csv')
pokemon = original_data.copy()

In [2]:
legendary = pokemon[pokemon["Legendary"] == True].reset_index(drop=True)
print(legendary.shape)
legendary.head()

(65, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
1,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
2,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
3,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
4,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [3]:
ordinary = pokemon[pokemon["Legendary"] == False].reset_index(drop=True)
print(ordinary.shape)
ordinary.head()

(735, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
foi = ['Name', 'Type 1', 'Total', 'Sp. Atk']
ordinary.loc[0, ['Name', 'Type 1']]
ordinary.loc[0, foi]

Name       Bulbasaur
Type 1         Grass
Total            318
Sp. Atk           65
Name: 0, dtype: object

In [6]:
stats = ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]
stats

print("#0 pokemon: {}\n".format(pokemon.loc[0, "Name"]))
print("total: ", int(pokemon.loc[0, "Total"]))
print("stats: ", list(pokemon.loc[0, stats]))
print("sum of all stats: ", sum(list(pokemon.loc[0, stats])))

#0 pokemon: Bulbasaur

total:  318
stats:  [45, 49, 49, 65, 65, 45]
sum of all stats:  318

### 13 Chapter Review
[13-5]. Null 값 제거
[13-6]. 중복값 찾기
+ `#` column 중복값의 정보확인
+ `Name`의 유일한 이름 개수확인 - 모든 이름이 Unique했음

[13-7] 속성확인해보기
+ `loc`
+ Type 1과 Type 2에 들어있는 Unique한 속성들을 확인하기
+ 속성들의 분포도 확인
+ 속성들의 비율도 확인

[13-8]. 스탯의 총합 확인 - 파생변수 만들기


[13-9]. 시각화에서 정보 얻기
+ 보통 Legendary 포켓몬들은 더 높은 값을 가지고 있음

[13-10]. 시각화에서 정보 얻기2
+ Legendary 포켓몬이 어떤 세대에 분포되어있는가를 확인

### [13-5]. Null 값 제거
#### 빈 데이터 확인하기

In [13]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [12]:
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

### [13-6]. 유일한 값 찾기

In [15]:
len(set(pokemon["#"]))

721

In [22]:
len(pokemon["#"].unique())

721

### [13-7] 속성 확인해보기

`pokemon.loc[행, 열]` <br>
행이 다수인 경우<br>
`pokemon.loc[[행1, 행2...], 열]`<br>
열이 다수인 경우<br>
`pokemon.loc[행, [열1, 열2 ...]]`<br>
행과 열이 둘 다 다수<br>
`pokemon.loc[[행1, 행2 ...], [열1, 열2, ...]]`<br>

In [26]:
pokemon.loc[:, 'Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object