동시에 여러개 바꾸기...?

In [21]:
import numpy as np

In [22]:
arr = [1, 2, 3]
arr = [i ** 2 for i in arr]
arr = np.array(arr)

In [23]:
import pandas as pd

In [24]:
data = pd.DataFrame({
    'user': [0, 0, 0, 0, 1, 1, 1, 2, 2, 3, 4],
    'artist': ['paul kim', 'twice', 'refund sisters', 'ssak3', 'leejuk', 'twice',
              'paul kim', 'refund sisters', 'ssak3', 'refund sisters', 'paul kim'],
    'play': [1, 2, 3, 3, 1, 2, 5, 2, 3, 4, 5]
})
data

    user          artist  play
0      0        paul kim     1
1      0           twice     2
2      0  refund sisters     3
3      0           ssak3     3
4      1          leejuk     1
5      1           twice     2
6      1        paul kim     5
7      2  refund sisters     2
8      2           ssak3     3
9      3  refund sisters     4
10     4        paul kim     5

In [25]:
data.artist.unique()

array(['paul kim', 'twice', 'refund sisters', 'ssak3', 'leejuk'],
      dtype=object)

In [26]:
data.groupby('artist')['play'].agg(['sum', 'mean', 'std'])

                sum      mean       std
artist
leejuk            1  1.000000       NaN
paul kim         11  3.666667  2.309401
refund sisters    9  3.000000  1.000000
ssak3             6  3.000000  0.000000
twice             4  2.000000  0.000000

In [27]:
dictionary = {
    'a': 1,
    'b': 2,
}

In [28]:
dictionary['a']

1

In [29]:
dictionary['c']

KeyError: 'c'

In [30]:
print(dictionary.get('c'))

None

In [31]:
map(~.get, iterable)

SyntaxError: invalid syntax (<ipython-input-31-e9de4f70ba86>, line 1)

In [33]:
def func(x):
    return 2*x

In [34]:
a = [1, 2, 3, 4]

In [35]:
func(2)

4

In [36]:
list(map(func, a))

[2, 4, 6, 8]

In [37]:
dictionary.get

In [38]:
map

map

In [39]:
data['play']

0     1
1     2
2     3
3     3
4     1
5     2
6     5
7     2
8     3
9     4
10    5
Name: play, dtype: int64

In [40]:
data['play'].map(func)

0      2
1      4
2      6
3      6
4      2
5      4
6     10
7      4
8      6
9      8
10    10
Name: play, dtype: int64

In [41]:
dir(map)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [42]:
pd.Series.map

In [43]:
type(pd.Series(map(func, data['play'])))

pandas.core.series.Series

In [44]:
type(data['play'].map(func))

pandas.core.series.Series

Reommendation System
1. Make R-Matrix
    + user-item matrix with CSR
2. Use ALS
    1. Declare ALS
    2. Fit ALS

With More Details
1. Make R-Matrix
    + Load Data
    + Use `user_id`, `movie_id`, `rating` only
    + Make `csr_matrix`
2. Use ALS
    + Declare ALS with `als = AlternatingLeastSquares(...)`
    + Fit ALS with `als.fit(csr)`
3. See Results

In [45]:
import pandas as pd

In [47]:
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('../ml-1m/ratings.dat',
                      sep='::', header=None, names=rating_cols)
ratings

C:\Users\1_pha\anaconda3\envs\aiffel\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [48]:
ratings = ratings[rating_cols[:-1]]
ratings = ratings[ratings.rating >= 3]

In [4]:
user_dict = {v: k for k, v in enumerate(ratings.user_id.unique())}
movie_dict = {v: k for k, v in enumerate(ratings.movie_id.unique())}

tmp_user_dict = ratings.user_id.map(user_dict.get).dropna()
ratings['user_id'] = tmp_user_dict

tmp_movie_dict = ratings.movie_id.map(movie_dict.get).dropna()
ratings['movie_id'] = tmp_movie_dict

In [50]:
ratings.user_id.max()

6040

In [51]:
ratings.movie_id.max()

3952

In [52]:
from scipy.sparse import csr_matrix

csr_rating = csr_matrix((ratings.rating, (ratings.user_id, ratings.movie_id)),
                       shape=(ratings.user_id.max()+1, ratings.movie_id.max()+1))

In [12]:
from implicit.als import AlternatingLeastSquares

als_model = AlternatingLeastSquares()

In [51]:
csr_t = csr_rating.T
als_model.fit(csr_t)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [14]:
movie_file_path = '../ml-1m/movies.dat'
movie_cols = ['movie_id', 'title', 'genre']
movies = pd.read_csv(movie_file_path, sep='::', names=movie_cols, engine='python')

In [15]:
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [17]:
for i, g in enumerate(movies.genre):
    
    gs = g.lower().split('|')
    
    for _ in gs:
        movies.loc[i, _] = 1

In [19]:
movies.loc[i, 'rubbish'] = 1

In [20]:
movies

,movie_id,title,genre,animation,children's,comedy,adventure,fantasy,romance,drama,...,thriller,horror,sci-fi,documentary,war,musical,mystery,film-noir,western,rubbish
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jumanji (1995),Adventure|Children's|Fantasy,NaN,1.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,NaN,NaN,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3879,3949,Requiem for a Dream (2000),Drama,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3880,3950,Tigerland (2000),Drama,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3881,3951,Two Family House (2000),Drama,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3882,3952,"Contender, The (2000)",Drama|Thriller,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [13]:
movies.fillna(0)

,movie_id,title,genre,animation,children's,comedy,adventure,fantasy,romance,drama,...,crime,thriller,horror,sci-fi,documentary,war,musical,mystery,film-noir,western
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,3949,Requiem for a Dream (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,3950,Tigerland (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,3951,Two Family House (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,3952,"Contender, The (2000)",Drama|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
genre_onehot = movies[list(genres)].copy()

In [39]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
genre_pca = pca.fit_transform(genre_onehot)
genre_pca

array([[ 0.81200947, -0.36495749],
       [ 0.27509851,  0.44887541],
       [ 0.72331239, -0.58258492],
       ...,
       [-0.67912656, -0.161709  ],
       [-0.67912656, -0.161709  ],
       [-0.67111999,  0.20594489]])

In [41]:
import matplotlib.pyplot as plt

In [44]:
xs = genre_pca[:, 0]
ys = genre_pca[:, 1]

In [59]:
genre_onehot.shape

(3883, 18)

In [53]:
print(als_model.item_factors.shape)

(3628, 100)

In [54]:
pca_als = PCA(n_components=2)
als_pca = pca_als.fit_transform(als_model.item_factors)

In [60]:
movie_dict

{1193: 0,
 661: 1,
 914: 2,
 3408: 3,
 2355: 4,
 1197: 5,
 1287: 6,
 2804: 7,
 594: 8,
 919: 9,
 595: 10,
 938: 11,
 2398: 12,
 2918: 13,
 1035: 14,
 2791: 15,
 2687: 16,
 2018: 17,
 3105: 18,
 2797: 19,
 2321: 20,
 720: 21,
 1270: 22,
 527: 23,
 2340: 24,
 48: 25,
 1097: 26,
 1721: 27,
 1545: 28,
 745: 29,
 2294: 30,
 3186: 31,
 1566: 32,
 588: 33,
 1907: 34,
 783: 35,
 1836: 36,
 1022: 37,
 2762: 38,
 150: 39,
 1: 40,
 1961: 41,
 1962: 42,
 2692: 43,
 260: 44,
 1028: 45,
 1029: 46,
 1207: 47,
 2028: 48,
 531: 49,
 3114: 50,
 608: 51,
 1246: 52,
 1357: 53,
 3068: 54,
 1537: 55,
 647: 56,
 2194: 57,
 648: 58,
 2268: 59,
 2628: 60,
 1103: 61,
 2916: 62,
 3468: 63,
 1210: 64,
 1792: 65,
 1687: 66,
 3578: 67,
 2881: 68,
 3030: 69,
 1217: 70,
 2126: 71,
 3108: 72,
 3035: 73,
 1253: 74,
 1610: 75,
 292: 76,
 2236: 77,
 3071: 78,
 368: 79,
 1259: 80,
 3147: 81,
 1544: 82,
 1293: 83,
 1188: 84,
 3255: 85,
 3257: 86,
 110: 87,
 2278: 88,
 2490: 89,
 1834: 90,
 3471: 91,
 589: 92,
 1690: 93,
 3654: 94,
 2852: 95,
 1945: 96,
 982: 97,
 1873: 98,
 2858: 99,
 1225: 100,
 515: 101,
 442: 102,
 2312: 103,
 265: 104,
 1408: 105,
 1084: 106,
 480: 107,
 1442: 108,
 2067: 109,
 1265: 110,
 1370: 111,
 1801: 112,
 1372: 113,
 2353: 114,
 3334: 115,
 590: 116,
 1196: 117,
 1552: 118,
 736: 119,
 1198: 120,
 593: 121,
 2359: 122,
 2717: 123,
 2571: 124,
 1917: 125,
 2396: 126,
 3735: 127,
 1953: 128,
 1597: 129,
 3809: 130,
 1954: 131,
 1955: 132,
 235: 133,
 1124: 134,
 1957: 135,
 163: 136,
 165: 137,
 380: 138,
 2501: 139,
 349: 140,
 457: 141,
 1096: 142,
 920: 143,
 459: 144,
 1527: 145,
 3418: 146,
 1385: 147,
 3451: 148,
 3095: 149,
 780: 150,
 498: 151,
 2728: 152,
 2002: 153,
 1784: 154,
 2943: 155,
 2006: 156,
 318: 157,
 3678: 158,
 1244: 159,
 356: 160,
 1247: 161,
 3421: 162,
 1394: 163,
 3534: 164,
 104: 165,
 2735: 166,
 1431: 167,
 3868: 168,
 1079: 169,
 2997: 170,
 1615: 171,
 1291: 172,
 653: 173,
 2167: 174,
 1580: 175,
 1049: 176,
 552: 177,
 1266: 178,
 733: 179,
 1378: 180,
 1379: 181,
 3552: 182,
 1304: 183,
 2470: 184,
 3168: 185,
 3671: 186,
 2871: 187,
 2115: 188,
 1968: 189,
 1136: 190,
 2081: 191,
 2951: 192,
 1214: 193,
 1036: 194,
 3702: 195,
 2366: 196,
 1387: 197,
 1201: 198,
 2947: 199,
 1240: 200,
 2987: 201,
 2333: 202,
 1175: 203,
 39: 204,
 2337: 205,
 1535: 206,
 1392: 207,
 1466: 208,
 1683: 209,
 866: 210,
 1684: 211,
 2770: 212,
 215: 213,
 1759: 214,
 506: 215,
 1250: 216,
 509: 217,
 41: 218,
 3799: 219,
 47: 220,
 2700: 221,
 296: 222,
 581: 223,
 1617: 224,
 728: 225,
 299: 226,
 2560: 227,
 1909: 228,
 224: 229,
 229: 230,
 3006: 231,
 1046: 232,
 50: 233,
 1192: 234,
 3081: 235,
 377: 236,
 3083: 237,
 2427: 238,
 2428: 239,
 2282: 240,
 1554: 241,
 1912: 242,
 2716: 243,
 1485: 244,
 2289: 245,
 162: 246,
 3016: 247,
 1704: 248,
 3163: 249,
 2291: 250,
 1635: 251,
 2721: 252,
 2723: 253,
 1921: 254,
 1923: 255,
 2580: 256,
 968: 257,
 896: 258,
 1788: 259,
 176: 260,
 461: 261,
 1429: 262,
 1715: 263,
 1643: 264,
 1719: 265,
 1649: 266,
 321: 267,
 2013: 268,
 1213: 269,
 1794: 270,
 2599: 271,
 1500: 272,
 2959: 273,
 1509: 274,
 1650: 275,
 908: 276,
 2384: 277,
 1729: 278,
 3476: 279,
 2890: 280,
 16: 281,
 2029: 282,
 194: 283,
 551: 284,
 1513: 285,
 3046: 286,
 2318: 287,
 1517: 288,
 1089: 289,
 3260: 290,
 913: 291,
 1730: 292,
 3409: 293,
 1449: 294,
 1732: 295,
 1733: 296,
 2390: 297,
 1734: 298,
 3267: 299,
 3624: 300,
 2395: 301,
 2683: 302,
 2759: 303,
 994: 304,
 1884: 305,
 1885: 306,
 272: 307,
 348: 308,
 2323: 309,
 29: 310,
 562: 311,
 1095: 312,
 1529: 313,
 497: 314,
 2908: 315,
 3499: 316,
 32: 317,
 1243: 318,
 1897: 319,
 1171: 320,
 3786: 321,
 34: 322,
 36: 323,
 714: 324,
 2406: 325,
 1101: 326,
 3717: 327,
 1030: 328,
 1688: 329,
 364: 330,
 3501: 331,
 3072: 332,
 3074: 333,
 3508: 334,
 1043: 335,
 597: 336,
 383: 337,
 2506: 338,
 3524: 339,
 1569: 340,
 2082: 341,
 3600: 342,
 3604: 343,
 2802: 344,
 3536: 345,
 3753: 346,
 3682: 347,
 2017: 348,
 3685: 349,
 3610: 350,
 1296: 351,
 838: 352,
 1007: 353,
 1947: 354,
 2966: 355,
 266: 356,
 17: 357,
 3699: 358,
 1441: 359,
 1088: 360,
 912: 361,
 199: 362,
 1806: 363,
 2469: 364,
 2100: 365,
 1959: 366,
 1380: 367,
 569: 368,
 1674: 369,
 3565: 370,
 861: 371,
 3793: 372,
 6: 373,
 1997: 374,
 1573: 375,
 3107: 376,
 474: 377,
 1722: 378,
 3256: 379,
 1221: 380,
 2336: 381,
 288: 382,
 3425: 383,
 1393: 384,
 1682: 385,
 508: 386,
 3213: 387,
 42: 388,
 650: 389,
 3500: 390,
 3148: 391,
 2702: 392,
 1476: 393,
 1693: 394,
 151: 395,
 510: 396,
 4: 397,
 1621: 398,
 3155: 399,
 58: 400,
 2712: 401,
 1840: 402,
 1916: 403,
 1488: 404,
 230: 405,
 1120: 406,
 161: 407,
 1411: 408,
 524: 409,
 1059: 410,
 454: 411,
 1701: 412,
 1274: 413,
 741: 414,
 1277: 415,
 1639: 416,
 3528: 417,
 2297: 418,
 3386: 419,
 465: 420,
 1711: 421,
 538: 422,
 2442: 423,
 73: 424,
 3246: 425,
 105: 426,
 253: 427,
 3250: 428,
 3252: 429,
 476: 430,
 1653: 431,
 111: 432,
 3259: 433,
 1589: 434,
 2023: 435,
 14: 436,
 337: 437,
 2314: 438,
 269: 439,
 555: 440,
 1660: 441,
 3265: 442,
 1735: 443,
 3481: 444,
 2686: 445,
 2688: 446,
 345: 447,
 24: 448,
 25: 449,
 2324: 450,
 2329: 451,
 2541: 452,
 1673: 453,
 1678: 454,
 1027: 455,
 2699: 456,
 282: 457,
 367: 458,
 223: 459,
 3298: 460,
 3948: 461,
 805: 462,
 3510: 463,
 3513: 464,
 300: 465,
 1777: 466,
 1343: 467,
 3160: 468,
 529: 469,
 1060: 470,
 1356: 471,
 1358: 472,
 3178: 473,
 3751: 474,
 2302: 475,
 1148: 476,
 2166: 477,
 3253: 478,
 1584: 479,
 1223: 480,
 1446: 481,
 3623: 482,
 778: 483,
 1669: 484,
 412: 485,
 3916: 486,
 1233: 487,
 1307: 488,
 3270: 489,
 1310: 490,
 428: 491,
 2622: 492,
 3358: 493,
 3359: 494,
 1756: 495,
 1320: 496,
 2124: 497,
 2125: 498,
 2054: 499,
 1252: 500,
 1254: 501,
 3869: 502,
 1256: 503,
 1257: 504,
 1831: 505,
 3363: 506,
 586: 507,
 587: 508,
 3438: 509,
 3296: 510,
 2496: 511,
 2497: 512,
 2: 513,
 2498: 514,
 153: 515,
 7: 516,
 2133: 517,
 2135: 518,
 2136: 519,
 2137: 520,
 802: 521,
 2138: 522,
 1409: 523,
 1339: 524,
 1269: 525,
 2640: 526,
 592: 527,
 596: 528,
 3447: 529,
 1918: 530,
 2140: 531,
 2072: 532,
 1271: 533,
 1345: 534,
 2077: 535,
 2078: 536,
 1276: 537,
 743: 538,
 671: 539,
 1278: 540,
 1927: 541,
 2657: 542,
 3388: 543,
 316: 544,
 317: 545,
 248: 546,
 2080: 547,
 1282: 548,
 1283: 549,
 750: 550,
 2087: 551,
 1286: 552,
 3608: 553,
 2662: 554,
 3466: 555,
 3100: 556,
 2300: 557,
 329: 558,
 3034: 559,
 186: 560,
 2161: 561,
 3037: 562,
 2090: 563,
 3039: 564,
 2091: 565,
 902: 566,
 830: 567,
 2093: 568,
 904: 569,
 2094: 570,
 1292: 571,
 2096: 572,
 1294: 573,
 765: 574,
 2746: 575,
 1009: 576,
 1948: 577,
 333: 578,
 339: 579,
 2316: 580,
 1371: 581,
 2174: 582,
 1374: 583,
 1375: 584,
 915: 585,
 1376: 586,
 1377: 587,
 916: 588,
 918: 589,
 1012: 590,
 2826: 591,
 3629: 592,
 1015: 593,
 1016: 594,
 1019: 595,
 3489: 596,
 344: 597,
 275: 598,
 2252: 599,
 277: 600,
 923: 601,
 924: 602,
 3701: 603,
 926: 604,
 1020: 605,
 784: 606,
 858: 607,
 1023: 608,
 1025: 609,
 2693: 610,
 1967: 611,
 351: 612,
 357: 613,
 2405: 614,
 2407: 615,
 2193: 616,
 1031: 617,
 1104: 618,
 1032: 619,
 435: 620,
 943: 621,
 3723: 622,
 1042: 623,
 370: 624,
 2423: 625,
 2424: 626,
 3086: 627,
 3087: 628,
 953: 629,
 954: 630,
 3591: 631,
 2863: 632,
 3593: 633,
 1125: 634,
 520: 635,
 3668: 636,
 1127: 637,
 2795: 638,
 1129: 639,
 2431: 640,
 62: 641,
 3309: 642,
 1633: 643,
 2436: 644,
 3097: 645,
 3099: 646,
 3812: 647,
 2000: 648,
 963: 649,
 2001: 650,
 1200: 651,
 2003: 652,
 1203: 653,
 2005: 654,
 1204: 655,
 969: 656,
 2872: 657,
 3675: 658,
 2946: 659,
 898: 660,
 2009: 661,
 2874: 662,
 899: 663,
 1135: 664,
 2948: 665,
 539: 666,
 2371: 667,
 3247: 668,
 3174: 669,
 3175: 670,
 2375: 671,
 2378: 672,
 971: 673,
 2011: 674,
 2012: 675,
 2015: 676,
 1215: 677,
 1073: 678,
 3688: 679,
 541: 680,
 542: 681,
 543: 682,
 3254: 683,
 2453: 684,
 2529: 685,
 1654: 686,
 1583: 687,
 3189: 688,
 116: 689,
 1586: 690,
 2021: 691,
 1220: 692,
 1080: 693,
 2967: 694,
 2968: 695,
 2530: 696,
 3264: 697,
 3194: 698,
 2393: 699,
 3198: 700,
 2399: 701,
 1302: 702,
 1230: 703,
 2105: 704,
 2033: 705,
 2108: 706,
 1234: 707,
 2109: 708,
 1091: 709,
 2617: 710,
 3347: 711,
 203: 712,
 1676: 713,
 208: 714,
 2111: 715,
 2040: 716,
 2041: 717,
 3928: 718,
 2043: 719,
 2045: 720,
 2046: 721,
 2047: 722,
 2049: 723,
 1753: 724,
 216: 725,
 2710: 726,
 663: 727,
 3448: 728,
 231: 729,
 2076: 730,
 246: 731,
 249: 732,
 1288: 733,
 764: 734,
 342: 735,
 2325: 736,
 3129: 737,
 2766: 738,
 2335: 739,
 3146: 740,
 1546: 741,
 441: 742,
 1563: 743,
 1498: 744,
 3176: 745,
 3755: 746,
 2883: 747,
 88: 748,
 481: 749,
 2539: 750,
 2106: 751,
 1747: 752,
 3362: 753,
 813: 754,
 3897: 755,
 3658: 756,
 1641: 757,
 1303: 758,
 999: 759,
 3785: 760,
 1331: 761,
 1262: 762,
 2641: 763,
 3036: 764,
 3479: 765,
 10: 766,
 2822: 767,
 21: 768,
 421: 769,
 434: 770,
 1479: 771,
 517: 772,
 952: 773,
 3745: 774,
 2370: 775,
 1216: 776,
 2528: 777,
 1587: 778,
 3269: 779,
 3417: 780,
 2616: 781,
 3354: 782,
 1263: 783,
 2731: 784,
 3033: 785,
 2243: 786,
 2920: 787,
 2976: 788,
 2485: 789,
 141: 790,
 2058: 791,
 3798: 792,
 2706: 793,
 2707: 794,
 2567: 795,
 3005: 796,
 2719: 797,
 748: 798,
 2724: 799,
 2581: 800,
 1422: 801,
 3461: 802,
 2598: 803,
 257: 804,
 832: 805,
 762: 806,
 2676: 807,
 3113: 808,
 1883: 809,
 2188: 810,
 2763: 811,
 788: 812,
 2764: 813,
 2694: 814,
 1892: 815,
 1608: 816,
 1396: 817,
 2840: 818,
 2841: 819,
 3646: 820,
 500: 821,
 3145: 822,
 2272: 823,
 2273: 824,
 1619: 825,
 1625: 826,
 1487: 827,
 1702: 828,
 2433: 829,
 1644: 830,
 1645: 831,
 2882: 832,
 2389: 833,
 2961: 834,
 553: 835,
 628: 836,
 2605: 837,
 1804: 838,
 1805: 839,
 2391: 840,
 2394: 841,
 1092: 842,
 1810: 843,
 1672: 844,
 3004: 845,
 1911: 846,
 3516: 847,
 2643: 848,
 2572: 849,
 2805: 850,
 2761: 851,
 2369: 852,
 2888: 853,
 2975: 854,
 1179: 855,
 2553: 856,
 2554: 857,
 3932: 858,
 3863: 859,
 1185: 860,
 3503: 861,
 3879: 862,
 3375: 863,
 164: 864,
 3527: 865,
 3457: 866,
 319: 867,
 247: 868,
 1428: 869,
 1284: 870,
 2660: 871,
 2661: 872,
 2663: 873,
 2664: 874,
 3032: 875,
 2311: 876,
 2173: 877,
 198: 878,
 2752: 879,
 340: 880,
 3700: 881,
 3703: 882,
 2901: 883,
 3704: 884,
 30: 885,
 1601: 886,
 3713: 887,
 2912: 888,
 3576: 889,
 293: 890,
 3070: 891,
 1614: 892,
 2346: 893,
 942: 894,
 446: 895,
 1624: 896,
 3156: 897,
 2287: 898,
 2288: 899,
 3662: 900,
 3594: 901,
 3300: 902,
 3744: 903,
 1206: 904,
 1069: 905,
 76: 906,
 2377: 907,
 2010: 908,
 3827: 909,
 610: 910,
 1077: 911,
 2527: 912,
 2455: 913,
 3696: 914,
 2600: 915,
 2533: 916,
 1594: 917,
 1301: 918,
 707: 919,
 2613: 920,
 2542: 921,
 496: 922,
 2549: 923,
 1748: 924,
 3927: 925,
 2116: 926,
 2117: 927,
 2985: 928,
 2989: 929,
 2123: 930,
 2052: 931,
 2993: 932,
 2701: 933,
 222: 934,
 158: 935,
 2139: 936,
 2573: 937,
 302: 938,
 232: 939,
 2141: 940,
 2142: 941,
 2143: 942,
 2145: 943,
 1344: 944,
 1275: 945,
 3526: 946,
 313: 947,
 2153: 948,
 2083: 949,
 2085: 950,
 2089: 951,
 2739: 952,
 3396: 953,
 3397: 954,
 3398: 955,
 3399: 956,
 327: 957,
 1876: 958,
 261: 959,
 262: 960,
 2248: 961,
 1013: 962,
 1956: 963,
 26: 964,
 3705: 965,
 3633: 966,
 3635: 967,
 1960: 968,
 3639: 969,
 3494: 970,
 353: 971,
 1391: 972,
 1033: 973,
 44: 974,
 2414: 975,
 2348: 976,
 940: 977,
 466: 978,
 2373: 979,
 2019: 980,
 616: 981,
 475: 982,
 86: 983,
 2020: 984,
 3698: 985,
 1094: 986,
 493: 987,
 1242: 988,
 3930: 989,
 1321: 990,
 2990: 991,
 2991: 992,
 1258: 993,
 2633: 994,
 2638: 995,
 2568: 996,
 1407: 997,
 1334: 998,
 1261: 999,
 ...}

In [62]:
movie_dict_inverse = {v: k for k, v in movie_dict.items()}

In [63]:
tmp_movie_dict_inverse = ratings.movie_id.map(movie_dict_inverse.get).dropna()

In [64]:
ratings.movie_id = tmp_movie_dict_inverse

In [81]:
def get_correct_title(idx):
    
    tag1 = movie_dict_inverse.get(idx)
    if tag1:
        return movies[movies.movie_id == tag1].title.values[0]
    
    else:
        return None

In [82]:
ratings['title'] = ratings.movie_id.map(get_correct_title)

KeyboardInterrupt:

In [ ]:
ratings